<div class="container">
    <div class="row">
        <div class="row">
            <div class="col s6">
                <page-title>
                    <h5>{{title}}</h5>
                </page-title>
            </div>
            <div class="col s6">
                <page-title>
                    <div class="valign">
                        <a class="waves-effect waves-light btn" v-link="{name: 'bank-account.list'}">
                            <i class="material-icons">arrow_back</i>
                        </a>
                    </div>
                </page-title>
            </div>
        </div>
        <div class="card-panel z-depth-5">
            <form name="form" method="GET" @submit.prevent="submit()">
                <div class="row">
                    <div class="input-field col s12">
                        <label class="active">Nome</label>
                        <input type="text" v-model="bankAccount.name" placeholder="Digite um nome"/>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <label class="active">Banco: </label>
                        <input type="text" id="bank-id" placeholder="Selecione o banco"
                               autocomplete="off" data-activates="bank-id-dropdown" data-beloworigin="true" :value="bank.name"/>
                        <ul id="bank-id-dropdown" class="dropdown-content ac-dropdown"></ul>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <label class="active">Agência</label>
                        <input type="text" v-model="bankAccount.agency" placeholder="Digite a agência"/>
                    </div>
                    <div class="input-field col s6">
                        <label class="active">Conta corrente</label>
                        <input type="text" v-model="bankAccount.account" placeholder="Digite a conta corrente"/>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="checkbox" class="filled-in" v-model="bankAccount.default" id="account_default"/>
                        <label for="account_default">Conta padrão?</label>
                    </div>
                </div>
            </form>
        </div>
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large" href="#" @click.prevent="submit()">
                <i class="large material-icons">save</i>
            </a>
        </div>
    </div>
</div>