<template src="./_form.html"></template>

<script>
    import PageTitleComponent   from '../PageTitle.vue';
    import 'materialize-autocomplete';
    import _                    from 'lodash';
    import store                from '../../store/store';

    export default{
        components: {
            'page-title': PageTitleComponent
        },
        data(){
            return {
                title: 'Criação de conta bancária',
                bankAccount: {
                    name: '',
                    agency: '',
                    account: '',
                    bank_id: '',
                    'dafault': false,
                },
                bank: {
                    name: ""
                }
            };
        },
        computed: {
            banks(){
                return store.state.bank.banks;
            },
            bankAccount(){
                return store.state.bankAccount.bankAccountSave;
            }
        },
        created(){
            this.getBanks();
        },
        methods: {
            updateName(event){
                store.commit('bankAccount/updateName', event.target.value);
            },
            submit(){
                store.dispatch('bankAccount/save', this.bankAccount).then(() => {
                    Materialize.toast('Conta bancária criada com sucesso!', 4000);
                    this.$router.go({name: 'bank-account.list'});
                });
            },
            getBanks(){
                store.dispatch('bank/query').then((response) => {
                    this.initAutocomplete();
                });
            },
            initAutocomplete(){
                let self = this;
                $(document).ready(() => {
                    $('#bank-id').materialize_autocomplete({
                        limit: 10,
                        multiple: {
                            enable: false
                        },
                        dropdown: {
                            el: '#bank-id-dropdown'
                        },
                        getData(value, callback) {
                            let mapBanks = store.getters['bank/mapBanks'];
                            let banks = mapBanks(value);
                            callback(value, banks);
                        },
                        onSelect(item){
                            self.bankAccount.bank_id = item.id;
                        }
                    });
                });
            }
        }
    }
</script>