<template>
    <div class="container">
        <div class="row">
            <page-title>
                <h5>Minhas contas bancárias</h5>
            </page-title>
            <div class="card-panel z-depth-5">
                <search @on-submit="filter" :model.sync="search"></search>
                <table class="bordered striped highlight responsive-table">
                    <thead>
                    <tr>
                        <th v-for="(key, o) in table.headers" :width="o.width">
                            <a href="#" @click.prevent="sortBy(key)">
                                {{o.label}}
                                <i class="material-icons right" v-if="searchOptions.order.key == key">
                                    {{ searchOptions.order.sort == 'asc' ? 'arrow_drop_up' : 'arrow_drop_down' }}
                                </i>
                            </a>
                        </th>
                        <th>Ações</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr v-for="(index,o) in bankAccounts">
                        <td>{{o.id}}</td>
                        <td>{{o.name}}</td>
                        <td>{{o.agency}}</td>
                        <td>{{o.account}}</td>
                        <td>
                            <div class="col s2">
                                <img :src="o.bank.data.logo" class="bank-logo"/>
                            </div>
                            <div class="col s10">
                                <span>{{o.bank.data.name}}</span>
                            </div>
                        </td>
                        <td>
                            <i class="material-icons green-text" v-if="o.default">check</i>
                        </td>
                        <td class="right">
                            <div class="row valign-wrapper">
                                <div class="col s2">
                                    <a v-link="{name: 'bank-account.update', params: {id: o.id}}">
                                        <i class="material-icons">edit</i>
                                    </a>
                                </div>
                                <div class="col s10">
                                    <a href="#" @click.prevent="openModalDelete(o)">
                                        <i class="material-icons">delete</i>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <pagination :current-page.sync="searchOptions.pagination.current_page"
                            :per-page="searchOptions.pagination.per_page"
                            :total-records="searchOptions.pagination.total"></pagination>
            </div>
            <div class="fixed-action-btn">
                <a class="btn-floating btn-large" v-link="{name: 'bank-account.create'}">
                    <i class="large material-icons">add</i>
                </a>
            </div>
        </div>
    </div>
    <modal :modal="modal">
        <div slot="content" v-if="bankAccountDelete">
            <h4>Confirmação</h4>
            <p><strong>Deseja excluir esta conta bancária?</strong></p>
            <div class="divider"></div>
            <p>Nome: <strong>{{bankAccountDelete.name}}</strong></p>
            <p>Agência: <strong>{{bankAccountDelete.agency}}</strong></p>
            <p>Conta: <strong>{{bankAccountDelete.account}}</strong></p>
            <div class="divider"></div>
        </div>
        <div slot="footer">
            <button class="btn btn-flat waves-effect green lighten-2 modal-close modal-action" @click="destroy()">OK</button>
            <button class="btn btn-flat waves-effect waves-red modal-close modal-action">Cancelar</button>
        </div>
    </modal>
</template>

<script type="text/javascript">
    import ModalComponent       from '../../../../_default/components/Modal.vue';
    import PaginationComponent  from '../Pagination.vue';
    import PageTitleComponent   from '../PageTitle.vue';
    import SearchComponent      from '../Search.vue';
    import store                from '../../store/store'

    export default{
        components: {
            'modal': ModalComponent,
            'pagination': PaginationComponent,
            'page-title' : PageTitleComponent,
            'search' : SearchComponent
        },
        data(){
            return {
                bankAccounts: [],
                bankAccountToDelete: null,
                modal: {
                    id: 'modal-delete'
                },
                table: {
                    headers: {
                        id: { label: '#', width: '7%' },
                        name: { label: 'Nome', width: '30%' },
                        agency: { label: 'Agência', width: '13%' },
                        account: { label: 'C/C', width: '13%' },
                        'banks:bank_id|banks.name': { label: 'Banco', width: '17%' },
                        'default': { label: 'Padrão', width: '5%' }
                    }
                }
            };
        },
        computed:{
            bankAccounts(){
                return store.state.bankAccount.bankAccounts;
            },
            searchOptions(){
                return store.state.bankAccount.searchOptions;
            },
            search: {
                get(){
                    return store.state.bankAccount.searchOptions.search;
                },
                set(value){
                    store.commit('bankAccount/setFilter', value);
                }
            },
        },
        created(){
            store.dispatch('bankAccount/query');
        },
        methods: {
            destroy(){
                BankAccount.delete({id: this.bankAccountToDelete.id}).then((response) => {
                    this.bankAccounts.$remove(this.bankAccountToDelete);
                    this.bankAccountToDelete = null;
                    if(this.bankAccount.length === 0 && this.pagination.current_page > 0){
                        Materialize.toast('CoOnta bancária excluida com sucesso!', 4000);
                    }
                });
            },
            openModalDelete(bankAccount){
                this.bankAccountToDelete = bankAccount;
                $('#modal-delete').modal('open');
            },
            sortBy(key){
                store.dispatch('bankAccount/queryWithSortBy', key);
            },
            filter(){
                store.dispatch('bankAccount/queryWithFilter');
            }
        },
        events: {
            'pagination::changed'(page){
                store.dispatch('bankAccount/queryWithPagination', page);
            }
        }
    }
</script>