<template src="../_form.html"></template>

<script type="text/javascript">
    import billBayMixin from '../../../mixins/bill-mixin';
    import ValidatorOffRemoveMin from '../../../mixins/validator-off-remove-mixin';

    export default {
        mixins: [billBayMixin, ValidatorOffRemoveMin],
        ready() {
            this.initSelect2();
//            $('.datepicker').pickadate({
//                format: 'dd/mm/yyyy',
//                selectMonths: true,
//                selectYears: 15
//            });
        },
        methods: {
            namespace() {
                return 'billPay';
            },
            categoryNamespace() {
                return 'categoryExpense';
            },
            title() {
                return 'Novo pagamento';
            }
        }
    }
</script>

<style type="text/css" scoped src="../_style.css"></style>