<template src="../_form.html"></template>

<script>
    import billPayMixin from '../../../mixins/bill-mixin';
    import ValidatorOffRemoveMin from '../../../mixins/validator-off-remove-mixin';
    import store from '../../../store/store'
    import BillPay from "../../../models/bill-pays";


    export default{
        mixins: [billPayMixin, ValidatorOffRemoveMin],
        created(){
            let self = this;
            this.modalOptions.options = {};
            this.modalOptions.options.ready = () => {
                self.getBill();
            };
        },
        methods: {
            namespace(){
                return 'billPay';
            },
            categoryNamespace() {
                return 'categoryExpense';
            },
            title(){
                return 'Editar Pagamento';
            },
            getBill(){
                this.resetScope();
                let bill = store.getters[`${this.namespace()}/billByIndex`](this.index);
                this.bill = new BillPay(bill);
                let text = store.getters['bankAccount/textAutocomplete'](bill.bankAccount.data);
                this.bankAccount.text = text;
            }
        }
    }
</script>