<div>
    <form :id="formId()" name="form" method="POST" @submit.prevent="submit">
        <modal :modal="modalOptions">
            <div slot="content">
                <h5>{{title()}}</h5>

                <div class="row">
                    <div class="input-field col s12">

                        <select-material :options="cpOptions" :selected.sync="bill.category_id" v-validate
                                          data-vv-rules="required" data-vv-name="category_id"
                                         name="category_id" data-vv-value-path="val" data-vv-as="Categoria de Despesa">
                        </select-material>

                        <label class="active" :data-error="errors.first('category_id')">Categoria de Despesa</label>
                    </div>
                </div>

                <div class="row">



                    <div class="input-field col s4">
                        <input type="text" v-model="bill.date_due | dateFormat" name="date_due" id="date_due" placeholder="Informe a data" class="datepicker validate"
                        v-validate data-vv-rules="required|date_format_custom" :class="{'invalid' : errors.has('date_due')}" data-vv-as="VENCIMENTO"/>
                        <label class="active" :data-error="errors.first('date_due')">Vencimento</label>
                    </div>


                    <div class="input-field col s4">
                        <input type="text" v-model="bill.value | numberFormat" placeholder="" class="validate" name="value"
                               :class="{'invalid' : errors.has('value')}"
                               v-validate data-vv-rules="required|number_format:0.01" data-vv-as="VALOR"/>
                        <label class="active" :data-error="errors.first('value')">Valor</label>
                    </div>
                    <div class="input-field col s4">
                        <input type="checkbox" class="filled-in" v-model="bill.done" :id="doneId()"/>
                        <label :for="doneId()">Pago?</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" v-model="bill.name" id="name" name="name" placeholder="" class="validate"
                               v-validate data-vv-rules="required" :class="{'invalid' : errors.has('name')}"
                                data-vv-as="NOME"/>
                        <label class="active" for="name" :data-error="errors.first('name')">Nome</label>
                    </div>






                    <div class="input-field col s6">
                        <input type="text" :id="bankAccountTextId()" placeholder="Procure a conta bancária" class="validate"
                               @blur="blurBankAccount" autocomplete="off" :data-activates="bankAccountDropdownId()" data-beloworigin="true" :value="bankAccount.text"
                               :class="{'invalid' : errors.has('bank_account_id')}"/>

                        <ul :id="bankAccountDropdownId()" class="dropdown-content ac-dropdown" style="z-index: 9999;"></ul>

                        <input type="hidden" name="bank_account_id" :id="bankAccountHiddenId()"
                                :value="bill.bank_account_id" v-validate data-vv-rules="required" data-vv-as="CONTA BANCÁRIA"/>

                        <label class="active" :data-error="errors.first('bank_account_id')">Conta bancária: </label>
                        <ul :id="bankAccountDropdownId()" class="dropdown-content ac-dropdown"></ul>
                    </div>
                </div>






                <div class="row">
                    <div class="input-field col s3">
                        <input type="checkbox" class="filled-in" v-model="bill.repeat" :id="repeatId()"/>
                        <label class="active" :for="repeatId()">Repetir?</label>
                    </div>
                    <div class="input-field col s5" v-if="bill.repeat">
                        <select v-model="bill.repeat_type" class="browser-default">
                            <option value="1">Mensal</option>
                            <option value="2">Anual</option>
                        </select>
                    </div>
                    <div class="input-field col s4" v-if="bill.repeat">
                        <input type="number" v-model="bill.repeat_number" placeholder="Ocorrencias" @blur="blurRepeatNumber">
                    </div>

                </div>
            </div>

            <div slot="footer">
                <button type="submit" class="btn btn-flat waves-effect green lighten-2" :disabled="fields.dirty() && errors.any()">OK</button>
                <button type="button" class="btn btn-flat waves-effect waves-red modal-close modal-action">Cancelar</button>
            </div>

        </modal>
    </form>
</div>