<template>
    <div class="card-panel green lighten-3">
        <span class="green-text text-darken-2">
            <slot></slot>
        </span>
    </div>
</template>


<script>
    export default{

    }
</script>
<style type="text/css" scoped>
    div.card-panel{
        height: 90px;
    }
</style>